@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* STYLE COLORS */
:root {
  --main-background-color: hsl(204, 43%, 93%);
  --ugly-green-yellow: hsl(71, 73%, 54%);
  --medium-grey: hsl(218, 22%, 67%);
  --middle-blue-color: hsl(179, 62%, 43%);
  --light-blue-color: hsl(179, 61%, 50%);
}

body {
  font-family: 'Karla', sans-serif;
  background-color: var(--main-background-color);
  font-size: 16px;
}

/* MAIN STYLING - MOBILE FIRST */

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  /* align-items: center; */
  max-width: 375px;
  margin: auto;
  align-content: center;
  transform: translateY(25%);
  border-radius: 5rem;
}

/* BACKGROUND COLORS */
.top_section {
  background-color: #fff;
}

.medium_blue {
  background-color: var(--middle-blue-color);
}

.light_blue {
  background-color: var(--light-blue-color);
  padding: 1.5rem 1.5rem;
  border-radius: 0 0 0.5rem 0.5rem; /* top left, top right, bottom left, bottom right */
}


/* BOTTOM LIGHT BLUE SECTION */
div.light_blue ul li {
  color: #fff;
  text-decoration: none;
  font-weight:lighter;
  line-height: 1.5;
  list-style-type: none;
}

div.light_blue h2 {
  color: #fff;
  margin-bottom: 1rem;
  font-size: 18px;
  
}